/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 2rem;
  padding: 2rem 2rem;

}

@media (max-width: 1199px) {
  #main {
    padding: 2rem;
  }
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer,

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.logo span {
  font-size: 1rem;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.header {
  z-index: 997;
  height: 2rem;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# iframes
--------------------------------------------------------------*/

/* Style for over 4K */
@media (min-width:2561px) {
  .iframe-col12-video {
    height: 600px;
  }

  .iframe-col6-video {
    height: 600px;
  }
}

/* Style for 4K */
@media (max-width:2560px) {
  .iframe-col12-video {
    height: 500px;
  }

  .iframe-col6-video {
    height: 300px;
  }
}

/* Style Laptop L*/
@media (max-width:1440px) {
  .iframe-col12-video {
    height: 350px;
  }

  .iframe-col6-video {
    height: 200px;
  }
}

/* Style for Laptop */
@media (max-width:1024px) {
  .iframe-col12-video {
    height: 250px;
  }

  .iframe-col6-video {
    height: 250px;
  }
}

/* Style for Tablet */
@media (max-width:768px) {
  .iframe-col12-video {
    height: 200px;
  }

  .iframe-col6-video {
    height: 200px;
  }
}

/* Style for Mobile L */
@media (max-width:425px) {
  .iframe-col12-video {
    height: 175px;
  }

  .iframe-col6-video {
    height: 175px;
  }
}

/* Style for Mobile M */
@media (max-width:375px) {
  .iframe-col12-video {
    height: 150px;
  }

  .iframe-col6-video {
    height: 150px;
  }
}

/* Style for Mobile S */
@media (max-width:320px) {
  .iframe-col12-video {
    height: 125px;
  }

  .iframe-col6-video {
    height: 125px;
  }
}